/* Підключення шрифту Inconsolata з Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

:root {
  --md-text-font: "Inconsolata", monospace;
  --md-code-font: "Inconsolata", monospace;
}

/* Збільшити інтервал між рядками для кращої читабельності та чорний фон */
body {
  line-height: 1.25;
  background-color: #000000 !important;
}

/* Підключаємо шрифт Inconsolata для всього сайту та заголовків */
body, h1, h2, h3, h4, h5, h6, .md-typeset, .md-nav, .md-header {
  font-family: "Inconsolata", monospace !important;
}

code, pre, .md-code {
  font-family: "Inconsolata", monospace !important;
}

/* Стилізація блоків коду, щоб вони виділялися */
pre code {
  background-color: #1f1f1f !important;
}

code {
  background-color: #1f1f1f !important;
  padding: 2px 5px;
  border-radius: 3px;
  color: #fff !important;
}

/* Кастомізація посилань */
a.md-anchor, markdown-content a {
  text-decoration: underline;
}

/* Ефект "рамки" або акценту для заголовків */
.md-typeset h1 {
  border-bottom: 2px dashed currentColor;
  padding-bottom: 5px;
}

/* Приховати весь футер */
footer.md-footer {
  display: none;
}

.md-nav--primary .md-nav__title {
  background: rgb(119, 21, 189);
  color: var(--color);
  border: .15rem solid #0000001f;
  margin: .25rem -.75rem .25rem -2.3rem;
  padding-right: 1rem;
  padding-left: 3rem;
  transition-duration: .3s;
  transform: none;
  box-shadow: 0 .1rem .5rem #0000007f;
}

.md-nav--secondary .md-nav__title {
  background: rgb(119, 21, 189);
  color: var(--color);
  border: .15rem solid #0000001f;
  margin: .25rem -.75rem .25rem -2.3rem;
  padding-right: 1rem;
  padding-left: 3rem;
  transition-duration: .3s;
  transform: none;
  box-shadow: 0 .1rem .5rem #0000007f;
}

/* Робить чорну іконку чисто білою */
img[src*="cloud.svg"] {
  filter: brightness(0) invert(1);
}
